body{
    margin: 0%;
    padding: 0%;
}
.serchFiltre{
    position: fixed;
    background-color: white;
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    height: 70px;
    width: 100%;
    box-shadow: 0 8px 8px rgba(0,0,0,0.3);
    z-index: 1000;
}
.categories{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.catImg{
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.catImg>img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;  
}
.catImg>img:hover{
    cursor: pointer;
    box-shadow: 20px 10px 10px rgba(0,0,0,0.5);

}
.categories>p{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}
.catName{
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 80px;
}
.catName>label{
    font-size: 25px;
}
.titre{
    font-size: 30px;
    margin-left: 50px;
    margin-right: 240px;
    font-family: 'Brush Script MT', cursive;
}
#filtre{
    font-size: 16px;
    width: 200px;
    border-radius: 20px;
    height: 40px;
    text-align: center;
}
.tri{
    margin-left: 20px;
    margin-right: 30px;

}
#triPrix{
    font-size: 16px;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    height: 40px;
    text-align: center;
}
.search{
    margin-right: 20px;
    border: solid;
    border-width: 1px;
    width: 300px;
    height: 40px;
    padding-left: 0px;
    display: flex; 
    align-items: center;
    border-radius: 20px;
    background-color: white;
}
.search>img{
    height: 25px;
    width: 25px;
    margin-right: 5px;
    margin-left: auto;
    cursor: pointer;
}
#search{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 20px;
}
.admin{
    background-color: white;
    width: 70px;
    height: 40px;
    border-radius: 20px;
    border: solid 1px;
    color: rgb(36, 88, 56);
    font-size: 16px;
    font-family:'Courier New', Courier, monospace;
}
.admin:hover{
    background-color: rgb(145, 225, 176);
    color: white;
}
.admin:active{
    background-color: rgb(103, 181, 133);
    color: white;
}
#open-cart {
    position: fixed;
    right: 20px;
    font-size: 30px;
    background-color:inherit;
    border: none;

}
#open-cart:hover{
    cursor: pointer;
    background-color: rgb(145, 225, 176);
    border-radius: 20px;
    padding-bottom: 2px;
}
#open-cart:active{
    cursor: pointer;
    background-color: rgb(103, 181, 133);
    border-radius: 20px;
    padding-bottom: 2px;
}
.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 330px;
    height: 96%;
    background: #fff;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 16px;
    transition: transform 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
}
.hidden {
    transform: translateX(100%);
}
.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
#close-cart{
    background-color: white;
    font-size: 35px;
    border: none;
}
#close-cart:hover{
    cursor: pointer;
    background-color: rgb(145, 225, 176);
    border-radius: 20px;
    padding-bottom: 2px;
}
#close-cart:active{
    cursor: pointer;
    background-color: rgb(103, 181, 133);
    border-radius: 20px;
    padding-bottom: 2px;
}
.cart-item {
    margin: 16px 0;
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

}
.cart-footer {
    margin-top: auto;
    border-top: 1px solid #ccc;
    padding-top: 16px;
    font-size: 20px;
}
.cart-product{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    border: solid 1px #eee;
    box-shadow: 2px 2px 2px rgb(125, 122, 122);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 140px;
    height: 170px;
    margin-right: 2px;
    margin-top: 20px;
    padding-left: 10px;
}
.cart-product>button{
    background-color: white;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    margin-left: 14px;
    font-size: 14px;
    border-color: #eee;
}
.logo{
    background-image: url("https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1440,fit=crop/greenshopA1aB8/green-2-YbNql6O99Rcwg2EO.png");
    height: 500px;
}
#logotitre{
    display: inline-block;
    margin-left: 800px;
    margin-top: 150px;
    margin-bottom: 0;
    font-size: 70px;
    color: rgb(36, 88, 56);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.logo>p{
    margin-left: 800px;
    font-size: 20px;
    color: rgb(69, 126, 91);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.Produits{
    margin-top: 50px;
    margin-left: 30px;
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.produit{
    width: 300px;
    height: 500px;
    box-shadow: 0 8px 8px rgba(0,0,0,0.3);
}
.produit:hover{
    width: 300px;
    height: 500px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    width: 310px;
    height: 510px;
}
.imgDiv{
    height: 370px; 
}
.imgProduit {
    width: 100%;
    height: 370px;        
    object-fit: cover;    
}
.imgInfoProduit{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 235px;
}
.NameProd{
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.titreProduit{
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    
}
.buttonInfo{
    font-size: 16px;
    background-color: white;
    border: solid #eee;
    border-radius: 20px;
    width: 110px;
    height: 40px;
    margin-right: 10px;

}
.buttonInfo:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(125, 122, 122);
}
.buttonInfo:active{
    cursor: pointer;
    background-color: #eee;
}
.prix{
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 40px;
    width:  auto;
    border-top: solid #eee;
}
.prix>p{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}
.prix>input{
    color: rgba(18, 97, 44, 0.527);
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    margin-right: 20px;
}
.prix>input:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.prix>input:active{
    cursor: pointer;
    background-color: rgba(18, 97, 44, 0.527);
    color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.bottom{
    margin-top: 50px;
    height: 50px;
    background-color: rgb(125, 122, 122);
    padding-top: 20px;
    font-size: 35px;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    color: white;
}
.overlay {
    position: fixed;
    top: 30px; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    display: none; 
    justify-content: center;
    align-items: center;
}
.popup {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 800px;
}
.forms{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.formInput{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
} 
.formButton{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-bottom: 20px;
}
.divs{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.close-btn {
    margin-top: 10px;
    background: crimson;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.product-image img {
    margin-top: 10px;
    max-width: 150px;
    border: 1px solid #ddd;
    border-radius: 8px;
}
.product-details h1 {
    font-size: 2em;
}
.price {
    font-size: 1.3em;
    margin-bottom: 16px;
}
.description {
    line-height: 1.6;
    margin-bottom: 14px;
    font-size: 18px;
}
.titreAdmin{
    font-size: 30px;
    margin-left: 50px;
    margin-right: 465px;
    font-family: 'Brush Script MT', cursive;
}
.logoAdmin{
    background-image: url("https://elvijah-cosmetique.com/modules/everpsblog/views/img/posts/post_image_3.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}
#logotitre1{
    display: inline-block;
    margin-left: 750px;
    margin-top: 120px;
    margin-bottom: 0;
    font-size: 70px;
    color: rgb(36, 88, 56);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.logoAdmin p{
    margin-left: 900px;
    font-size: 20px;
    color: rgb(69, 126, 91);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.cats{
    margin-top: 50px;
}
.cats p{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}
#catName{
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
#catGestion{
    position: relative;
    background-color: #EAF1F1;
    border-radius: 50px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 30px;
    width: 90%;
    height: auto;
    min-height: 200px;
}
#catName label{
    font-size: 24px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 50px;
    
}
.boutonGC{
    position: absolute;
    bottom:20px;
    left: 50%; /* Place l'élément au centre horizontalement */
    transform: translateX(-50%);
}
.boutonGC button{
    margin-right: 10px;
    background-color: #fffcbd;
    border: solid 1px #fffcbd;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}
.cart-prod {
    display: inline-flex; ;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 10px;
    width: 95%;
    background-color: #fff;
    position: relative;
    font-family: Arial, sans-serif;
}
.cart-prod-image img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
}
.cart-prod-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cart-prod-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-prod-title {
    font-weight: bold;
    font-size: 20px;
}
.cart-prod-delete {
    background: none;
    border: none;
    font-size: 18px;
    color: gray;
    cursor: pointer;
}
.cart-prod-modif {
    background: none;
    border: none;
    font-size: 18px;
    color: gray;
    cursor: pointer;
}
.cart-prod-price {
    color: #555;
    font-size: 18px;
}
.cart-prod-categorie{
    font-size: 18px;
}
.btnAjout{
    text-align: right;
    margin-right: 40px;
}
.btnAjout button{
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 150px;
    font-size: 18px;
    color: gray;
    border: solid 2px gray;
    border-radius: 20px;
    cursor: pointer;
}
